
#one {
    border-style: dashed;
    padding: 10px;
    width: 65px;
}
#two {
    border-style: solid;
    padding: 10px;
    width: 40px;
}

#three {
    border-style: hidden;
    padding: 100px;
    width: 100px;
}
#four {
    border-style: dotted;
    padding: 80px;
    width: 40px;
    border-radius: 300px;
    text-align: center;
}
#five {
    border-style: hidden hidden solid hidden;
    padding: 10px;
    width: 400px;
    text-align: center;
}
#seven {
    border-style: hidden hidden dashed hidden;
    padding: 10px;
    width: 80px;
    text-align: center;
    clear: left;
}
#eight {
    border-style: double;
    height: 1000px;
    padding: 10px;
    width: 80px;
    text-align: center;
}

#ear {
    border-style: hidden hidden solid hidden;
    padding: 1px;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    text-align: center;
    padding-left: 300px;
    float: right;
}

h6 {
    text-transform: uppercase;
}
body{
    width: 1000px;
}

#same {
    border-style:groove;
    height: 80px;
    padding: 10px;
    width: 80px;
    text-align: center;
    float: right;
    border-radius: 30px;
}
#song {
    border-style: hidden dashed hidden dashed;
    padding: 10px;
    width: 400px;
    text-align: center;
    float: right;
 }
 #list {
     border-style: hidden;
     float: right;
     width: 1px;
     height: 10000;
     transform: skew(30deg);
 }
 #list2 {
    border-style: hidden;
    float: right;
    width: 1px;
    height: 10000;
    transform: skew(-30deg);
}
#every {
    border-style: outset;
    float: right;
}
#every2 {
    border-style: outset;
    float: right;
}
#every3 {
    border-style: outset;
    float: right;
}
