
#lastnight {
border-style: groove;
padding-top: 10px;
padding-bottom: 10px;
width: 50px;
text-align: center;
}
h1 
{
   text-transform: capitalize;
}
#here{
    border-style: groove;
    padding-top: 10px;
    padding-bottom: 10px;  
    width: 400px;
    text-align:center; 
}
#night{
    border-style:solid;
    width: 300px;
    height: 100px;
    border-color: black;
    background-color: black;
    margin: -30px;
}
#dashed{
    border-style:dotted;
    text-align:center;
    width: 800px;
    height: 40px;
    padding-top: 20px;
}
#list {
    border-style:hidden;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
}
#list2 {
    border-style:solid;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
}
#list3 {
    border-style:hidden;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
    transform: rotate(20deg);
}
#list4 {
    border-style: hidden hidden solid hidden;
    border-radius: .5px;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
    border-color: green;
}
#list5 {
    border-style:hidden;
    border-radius: .5px;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
    line-height: 1px;
}
#list6 {
    border-style:hidden;
    border-radius: .5px;
    float: right;
    width: 800px;
    text-align:center;
    position: relative;
    line-height: 1px;
}

#break {
    background-color: black;
    width: 40px;
    height: 3px;
    transform: rotate(125deg);
    left: 1000px;
}
#diamond {
    border-style:solid;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    float: right;
    position: absolute;
    left: 350px;
    padding-top: 7px;
    
}
h6 {
    size: 4px;
  
}