#caps {
    text-transform: uppercase;
    transform: rotate(-35deg);
    height: 1200px;
    margin: 0px;
}
#caps2 {
    text-transform: uppercase;
    transform: rotate(35deg);
    height: 1200px;
    width: 1700px;
    margin: 0px;
    float: right;
}

p {
float: right;
border-style: double;
border-color: black;
padding: 20px;
}
#end {
float: left;
border-style: double;
border-color: black;
padding: 20px;
}

#list{
    float: left;
    border-style: double;
    border-color: black;
    padding: 20px;   
}
