body{
    position: relative;
}
#bird {
position: absolute;
bottom: 40px;
right: 50px;

}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-weight: normal;
}
li {
    line-height: 22px;
}
#head {
    width: 150px;
    height: 150px;
    border-radius: 0 50% 50%;
    transform: rotate(-20deg);
    background: rgb(0, 170, 255);
    position: absolute;
    top: 500px;
    right: 300px;
  }
  #birdbody {
    width: 240px;
    height: 280px;
    border-radius: 50%;
    transform: rotate(-25deg);
    background: rgb(0, 170, 255);
    position: absolute;
    top: 555px;
    right: 220px;
  }
  #tail {
    width: 55px; 
    height: 170px;
    background: rgb(0, 170, 255);
    /* Skew */
    -webkit-transform: skew(27deg); 
    -moz-transform: skew(26deg); 
    -o-transform: skew(27deg);
    transform: skew(27deg);
    position: absolute;
    top: 700px;
    right: 150px;

 }


  #beak {
      position: absolute;
      left: 76px;
      bottom: 188px;
  }
  #beaktop{
    width: 0;
    height: 0;
    border-top: 60px solid rgb(255, 208, 0);
    border-left: 75px solid transparent;
    position: absolute;
    top: 528px;
    right: 448px;
    transform: rotate(-7deg);
  }
  #beakbottom{
    width: 0;
    height: 0;
    border-bottom: 45px solid rgb(255, 208, 0);
    border-right: 35px solid transparent;
    position: absolute;
    top: 565px;
    right: 455px;
    transform: rotate(-60deg);
  }

  
#triangle, #triangle:before, #triangle:after { width: 4.8em; height: 4.8em; }
#triangle {
    position: absolute;
    top: 435px;
    right: 402px;
	overflow: hidden;
	position: relative;
	margin: 7em auto 0;
	border-radius: 20%;
	transform: translateY(50%) rotate(58deg) skewY(30deg) scaleX(.866);
	cursor: pointer;
	pointer-events: none;
} 
#triangle:before, #triangle:after {
	position: absolute;
	background: rgb(0, 170, 255);
	pointer-events: auto;
	content: '';
}
#triangle:before {
	border-radius: 20% 20% 20% 53%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
			skewX(30deg) scaleY(.866) translateX(-24%);
}
#triangle:after {
	border-radius: 20% 20% 53% 20%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
			skewX(-30deg) scaleY(.866) translateX(24%);
}
